<% if (user) { %>
    <nav class="navbar">
      <ul>
        <li><a href="/applications">Dashboard</a></li>
        <li><a href="/applications/new">New Application</a></li>
        <li><a href="/auth/sign-out">Sign Out</a></li>
      </ul>
    </nav>
  <% } %>
  